.moon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.list {
    display: flex;
    gap: 30;
    justify-content: space-between;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #D0D6F9;
    transition: all 0.6s ease-in-out;

}
.moontext {
    width: 445px;
    height: 500px;
    transition: all 0.6s ease-out;
}
.moontexthead {
    font-family: 'Bellefair', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 115px;
    /* identical to box height */
    color: #FFFFFF;
    margin: 2rem 0;
    transition: all 0.6s ease-in-out;
}
.moontextsub {
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */
    color: #D0D6F9;
    transition: all 0.6s ease-in-out;
}
.line {
    background: #383B4B;
    width: 100%;
    height: 0.1rem;
    margin: 3rem 0 2rem 0;
}
.distday {
    display: flex;
    justify-content: space-between;
}
.distance {
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: 2.3625px;
    text-transform: uppercase;
    color: #D0D6F9;
    transition: all 0.6s ease-in-out;
}
.distancekm {
    font-family: 'Bellefair', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
    transition: all 2s ease-in-out;
}

@media screen and (max-width: 1024px) {
    .moon {
        flex-direction: column;
    }
    .moontext {
        margin-top: 1.5rem;
        width: 80%;
        height: 500px;
        text-align: center;
        transition: all 0.6s ease-out;
    }
    .list {
        width: 40%;
        align-self: center;
    }
}