.moon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.list {
    display: flex;
    gap: 30;
    justify-content: center;
}
.moontext {
    width: 445px;
    height: 472px;
    font-family: Bellefair;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 115px;
    color: #FFFFFF;
}