.home {
    background: url("../../../public/assets/technology/background-technology-desktop.jpg");
    background-size: cover;
    height: 100vh;
}
.hometext {
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;letter-spacing: 4.725px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 5rem 0 1rem 10rem;
}

@media screen and (max-width: 1024px) {
    .home {
        background: url("../../../public/assets/technology/background-technology-tablet.jpg");
        background-size: contain;
        height: 100vh;
    }
    .hometext {
        font-size: 1.3rem;
        line-height: 24px;
        /*  identical to box height */ 
        letter-spacing: 3.375px;
        margin: 1rem 0 1rem 5rem;
    }
}
