.crewSplit {
    display: flex;
    justify-content: space-around;
    margin: 2rem 2rem 0 4rem;
}
.crewText {
    width: 50%;
    align-self: center;
}
.crewtexthead {
    font-family: 'Bellefair', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.crewtextsub {
    font-family: 'Bellefair', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.crewtextbody {
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;

}
.crewImages {
    z-index: 4;
    padding-bottom: 0rem;
}

.dotsplit {
    display: flex;
    gap: 2rem;
}
.dot {
    width: 15px;
    height: 15px;
    background-color: #FFFFFF;
    border-radius: 100%;
    transition: all 0.6s ease-in-out;
}
.dot2 {
    width: 15px;
    height: 15px;
    background-color: #FFFFFF;
    border-radius: 100%;
    mix-blend-mode: normal;
    opacity: 0.17;
}