.crewSplit {
    display: flex;
    justify-content: space-around;
    margin: 2rem 2rem 0 4rem;
}
.crewText {
    width: 50%;
    align-self: center;
}
.crewtexthead {
    font-family: 'Bellefair', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.crewtextsub {
    font-family: 'Bellefair', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.crewtextbody {
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;

}
.crewImages {
    z-index: 1;
    padding-bottom: 0rem;
}

.dotsplit {
    display: flex;
    gap: 2rem;
    margin: 5rem 0 0 0rem;
}
.dot {
    width: 15px;
    height: 15px;
    background-color: #FFFFFF;
    border-radius: 100%;
    transition: all 0.6s ease-in-out;
}
.dot2 {
    width: 15px;
    height: 15px;
    background-color: #FFFFFF;
    border-radius: 100%;
    mix-blend-mode: normal;
    opacity: 0.17;
    transition: all 0.6s ease-in-out;
}

@media screen and (max-width: 1024px) {
    .crewSplit {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 6.7rem;
    }
    .crewText {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .crewtextsub {
        font-size: 2.5rem;
        line-height: 46px;
        margin-top: 1rem;
    }
    .crewtextbody {
        font-size: 1rem;
        line-height: 28px;
        margin-top: 1rem;
    }
    .crewtexthead {
        font-size: 1rem;
        line-height: 19px;
    }
    .crewImages {
        height: 100vh;
        object-fit: contain;
    }
    .dotsplit {
        margin: 2rem 0 0 0rem;
    }
    .dot {
        margin-left: 0.5rem;
        width: 10px;
        height: 10px;
        background-color: #FFFFFF;
        border-radius: 100%;
    }
    .dot2 {
        margin-left: 0.5rem;
        width: 10px;
        height: 10px;
        background-color: #FFFFFF;
        border-radius: 100%;
    }
}

@media screen and (max-width: 768px) {
    .techtextbody {
        font-size: 1rem;
        line-height: 25px;
        font-size: 0.5rem;
        line-height: 18px;
        margin: 1rem 1rem;
    }
    .crewtextsub {
        font-size: 1.5rem;
        line-height: 46px;
        margin-top: 1rem;
    }
}