.slide {
    height: 300px;
    background-color: color;
}
.crewSplit {
    display: flex;
    justify-content: space-around;
}
.crewtexthead {
    font-family: Bellefair;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}