.techhome {
    display: flex;
    justify-content: space-between;
}
.numbers {
    display: flex;
    flex-direction: column;
}
.number {
    width: 80px;
    height: 80px;
    margin: 1rem 0;
    border-radius: 50%;
    background-color: #fff;
    border-left: #000;
}