.techhome {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.numbers {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}
.number {
    width: 120px;
    height: 120px;
    margin: 1rem 0;
    border-radius: 70%;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    font-family: 'Bellefair', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */
    text-align: center;
    align-items: center;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding: 2.5rem;
    transition: all 0.5s ease-in-out;
}
.number2 {
    width: 120px;
    height: 120px;
    margin: 1rem 0;
    border-radius: 70%;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-family: 'Bellefair', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */
    text-align: center;
    align-items: center;
    letter-spacing: 2px;
    color: #222222;
    padding: 2.5rem;
    transition: all 0.5s ease-in-out;
}
.techtext {
    width: 470px;
    height: 303px;
    align-self: center;
    margin-top: 0rem;
}
.techtexthead {
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #D0D6F9;
}
.techtextsub {
    font-family: 'Bellefair', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    color: #FFFFFF;
    margin-top: 2rem;
}
.techtextbody {
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */
    color: #D0D6F9;
    margin: 2rem 0;
}
.imagediv {
    margin-right: -7.4rem;
}
.imagediv2 {
    display: none;
}

@media screen and (max-width: 1024px) {
    .techhome {
        display: flex;
        flex-direction: column;
    }
    .numbers {
        display: flex;
        flex-direction: row;
        margin-top: 0.5rem;
        justify-content: center;
    }
    .number {
        margin: 1rem;
    }
    .TechNumbers {
        order: 2;
    }
    .techtext {
        width: 458px;
        height: 237px;
        align-self: center;
        text-align: center;
        margin-top: 1rem;
        order: 3;
    }
    .techtexthead {
        font-size: 1rem;
        line-height: 19px;
    }
    .techtextsub {
        font-size: 2.5rem;
        line-height: 46px;
        margin-top: 1rem;
    }
    .techtextbody {
        font-size: 1rem;
        line-height: 28px;
        margin-top: 1rem;
    }
    .imagediv2 {
        display: contents;
        margin: 2rem 0;
        /* order: 1; */
    }
    .images {
        width: 100%;
        height: 200px;
        order: 1;
        transition: all 0.6s ease-in;
    }
    .imagediv {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .techtextbody {
        font-size: 1rem;
        line-height: 25px;
        font-size: 0.5rem;
        line-height: 18px;
        margin: 1rem 1rem;
    }
    .numbers {
        margin: 0.4rem;
    }
    .number {
        width: 50px;
        height: 50px;
        padding: 0.5rem;
        margin: 1rem;
    }
}