a {
  color: inherit;
  text-decoration: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  height: 100vh;
  
}

li {
  list-style: none;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    overflow-y: none;
  }
}
