.home {
    background: url(../../../public/assets/destination/background-destination-desktop.jpg);
    height: 100vh;
}
.hometext {
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;letter-spacing: 4.725px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 5rem 0 1rem 10rem;
}
.list {
    display: flex;
    gap: 30;
    justify-content: center;
}