.home {
    background: url(../../public/assets/crew/background-crew-desktop.jpg);
    background-size: cover;
    height: 100vh;
}
.hometext {
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;letter-spacing: 4.725px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 5rem 0 1rem 10rem;
}

