.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    width: 100%;
    height: 10vh;
    }

.ul {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: rgba(24, 36, 59, 0.5);
    height: 60px;
    padding: 0 2rem;

}

.navBody {
    height: 100%;
}
.toggle {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .toggle {
        display: block;
        cursor: pointer;
        order: 2;
        z-index: 10;
        margin-right: 1rem;
      }
  }