.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    width: 100%;
    height: 10vh;
    }

.ul {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: rgba(24, 36, 59, 0.5);
    height: 60px;
    padding: 0 2rem;

}

.navBody {
    height: 100%;
}
.toggle {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .toggle {
        display: block;
        cursor: pointer;
        order: 2;
        z-index: 10;
        margin-right: 1rem;
      }
      .toggleline {
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 5px;
      }
      .ul {
        order: 3;
        width: 70%;
        height: 100%;
        display: inline-block;
        position: fixed;
        z-index: 4;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow-x: hidden;
        transform: translateX(100vh);
        transition: all ease-out 0.2s;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(81.5485px);
      }
      .li {
        margin: 0 0 2rem;
        opacity: 0;
        transform: translateY(0);
      }
      .activenav {
        transform: translateY(0);
      }
      .li {
        margin: 0 0 2rem;
        opacity: 1;
        transform: translateX(0);
        transition: all ease-out 0.8s;
      }
      .toggleanime .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
      }

      .toggleanime .line2 {
        opacity: 0;
      }

      .toggleanime .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
      }

      .ul.activenav {
        transform: translateX(0);
      }
      .li {
        margin: 0 0 2rem;
        opacity: 1;
        transform: translateX(0);
        transition: all ease-out 0.8s;
      }
  }