.nav {
    background: transparent;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 50;
}

.ul {
    display: flex;
    gap: 35;
}