.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
    
}

.ul {
    display: flex;
    gap: 40;
}

.navBody {
    height: 100%;
}